{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

{% style %}
  .add-to-cart-wrapper {
    margin: 3rem 0;
  }
{% endstyle %}

<div class="product-images">
  {% for image in product.images %}
    {% render 'image'
      , class: 'product-image'
      , image: image %}
  {% endfor %}
</div>

<div class="product-info">
  <h1>{{ product.title }}</h1>
  <p>{{ product.price | money }}</p>
  <p>{{ product.description }}</p>
</div>

<div class="product-form">

  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="add-to-cart-wrapper">
    {% render 'add-to-cart'
      , variant: current_variant %}
  </div>

</div>

{% schema %}
  {
    "name": "t:general.product",
    "settings": [],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}